<%- include("../meta/head") %>
<%- include("../navbar") %>
<h1 class="text-center">Todo List</h1>
  <div class="mx-auto col-6">
  <table class="table table-bordered table-dark">
    <% rowobject.forEach(item => { %>
      <% if(item.completed == 0){ %>
      <tr class="table-danger">
        <td style="width: 10%"><i class="fas fa-check mx-1"></i><i class="fas fa-edit mx-1"></i><i class="fas fa-trash-alt mx-1"></i></td>
        <td style="width: 90%"><%- item.content %></td>
      </tr>
      <% } %>
      <% if(item.completed == 1){ %>
        <tr class="table-success">
          <td style="width: 10%"><i class="fas fa-trash-alt"></td>
          <td style="width: 90%"><%- item.content %></td>
        </tr>
      <% } %>
      
    <% }) %>
  </table>
  <form method="post">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="submit" class="input-group-text btn btn-secondary">Add entry</button>
      </div>
      <textarea class="form-control col-6" aria-label="With textarea" name="entry"></textarea>
    </div>
  </form>
  </div>
<%- include("../meta/tail") %>